USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[REF_ADDRESS]    Script Date: 10/19/2013 02:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_ADDRESS](
	[ADDRESS_ID] [nvarchar](50) NOT NULL,
	[ADDRESS_LINE1] [nvarchar](300) NULL,
	[ADDRESS_LINE2] [nvarchar](50) NULL,
	[ADDRESS_LINE3] [nvarchar](50) NULL,
	[ADDRESS_RT] [nvarchar](50) NULL,
	[ADDRESS_RW] [nvarchar](50) NULL,
	[ADDRESS_POST_CODE] [nvarchar](50) NULL,
	[ADDRESS_CITY] [nvarchar](50) NULL,
	[ADDRESS_STATUS_OWNER] [nvarchar](50) NULL,
	[ADDRESS_LONG_STAY] [nvarchar](50) NULL,
	[ADDRESS_OFFICE] [nvarchar](300) NULL,
	[ADDRESS_OFFICE_PHONE] [nvarchar](50) NULL,
	[ADDRESS_STATUS] [nvarchar](50) NULL,
	[ADDRESS_DESC] [nvarchar](300) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
