USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[M_COMMISSION]    Script Date: 10/19/2013 02:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_COMMISSION](
	[COMMISSION_ID] [nvarchar](50) NOT NULL,
	[COMMISSION_TYPE] [nvarchar](50) NULL,
	[COMMISSION_LEVEL] [int] NULL,
	[COMMISSION_LOW_TARGET] [numeric](18, 5) NULL,
	[COMMISSION_HIGH_TARGET] [numeric](18, 5) NULL,
	[COMMISSION_START_DATE] [datetime] NULL,
	[COMMISSION_END_DATE] [datetime] NULL,
	[COMMISSION_VALUE] [numeric](18, 5) NULL,
	[COMMISSION_STATUS] [nvarchar](50) NULL,
	[COMMISSION_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_COMMISSION] PRIMARY KEY CLUSTERED 
(
	[COMMISSION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
