USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[T_LOAN_SURVEY]    Script Date: 10/19/2013 02:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LOAN_SURVEY](
	[LOAN_SURVEY_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[SURVEY_DATE] [datetime] NULL,
	[SURVEY_NEIGHBOR] [nvarchar](50) NULL,
	[SURVEY_NEIGHBOR_CHARACTER] [nvarchar](50) NULL,
	[SURVEY_NEIGHBOR_ASSET] [nvarchar](300) NULL,
	[SURVEY_NEIGHBOR_CONCLUSION] [nvarchar](50) NULL,
	[SURVEY_HOUSE_TYPE] [nvarchar](50) NULL,
	[SURVEY_UNIT_DELIVER_DATE] [datetime] NULL,
	[SURVEY_UNIT_DELIVER_ADDRESS] [nvarchar](200) NULL,
	[SURVEY_DESC] [nvarchar](50) NULL,
	[SURVEY_STATUS] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[SURVEY_RECEIVED_BY] [nvarchar](50) NULL,
	[SURVEY_PROCESS_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_LOAN_SURVEY] PRIMARY KEY CLUSTERED 
(
	[LOAN_SURVEY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_LOAN_SURVEY]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_SURVEY_T_LOAN] FOREIGN KEY([LOAN_ID])
REFERENCES [dbo].[T_LOAN] ([LOAN_ID])
GO
ALTER TABLE [dbo].[T_LOAN_SURVEY] CHECK CONSTRAINT [FK_T_LOAN_SURVEY_T_LOAN]
GO
