USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[M_ZONE]    Script Date: 10/19/2013 02:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_ZONE](
	[ZONE_ID] [nvarchar](50) NOT NULL,
	[ZONE_NAME] [nvarchar](50) NULL,
	[ZONE_CITY] [nvarchar](50) NULL,
	[ZONE_STATUS] [nvarchar](50) NULL,
	[ZONE_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [nchar](10) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_ZONE] PRIMARY KEY CLUSTERED 
(
	[ZONE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
