USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[T_LOAN_UNIT]    Script Date: 10/19/2013 02:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LOAN_UNIT](
	[LOAN_UNIT_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[UNIT_NAME] [nvarchar](50) NULL,
	[UNIT_PRICE] [numeric](18, 5) NULL,
	[UNIT_TYPE] [nvarchar](50) NULL,
	[UNIT_DESC] [nvarchar](50) NULL,
	[UNIT_STATUS] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_LOAN_UNIT] PRIMARY KEY CLUSTERED 
(
	[LOAN_UNIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
