USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[T_LOAN]    Script Date: 10/19/2013 02:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LOAN](
	[LOAN_ID] [nvarchar](50) NOT NULL,
	[ZONE_ID] [nvarchar](50) NULL,
	[PARTNER_ID] [nvarchar](50) NULL,
	[CUSTOMER_ID] [nvarchar](50) NULL,
	[PERSON_ID] [nvarchar](50) NULL,
	[ADDRESS_ID] [nvarchar](50) NULL,
	[TLS_ID] [nvarchar](50) NULL,
	[SALESMAN_ID] [nvarchar](50) NULL,
	[SURVEYOR_ID] [nvarchar](50) NULL,
	[COLLECTOR_ID] [nvarchar](50) NULL,
	[LOAN_NO] [nvarchar](50) NULL,
	[LOAN_CODE] [nvarchar](50) NULL,
	[LOAN_SUBMISSION_DATE] [datetime] NULL,
	[LOAN_SURVEY_DATE] [datetime] NULL,
	[LOAN_UNIT_PRICE_TOTAL] [numeric](18, 5) NULL,
	[LOAN_DOWN_PAYMENT] [numeric](18, 5) NULL,
	[LOAN_BASIC_PRICE] [numeric](18, 5) NULL,
	[LOAN_CREDIT_PRICE] [numeric](18, 5) NULL,
	[LOAN_FACTOR_MULTIPLE] [numeric](18, 5) NULL,
	[LOAN_FACTOR_ADD] [numeric](18, 5) NULL,
	[LOAN_INTEREST] [numeric](18, 5) NULL,
	[LOAN_TENOR] [int] NULL,
	[LOAN_BASIC_INSTALLMENT] [numeric](18, 5) NULL,
	[LOAN_INTEREST_INSTALLMENT] [numeric](18, 5) NULL,
	[LOAN_OTHER_INSTALLMENT] [numeric](18, 5) NULL,
	[LOAN_ACC_BY] [nvarchar](50) NULL,
	[LOAN_ACC_DATE] [datetime] NULL,
	[LOAN_DESC] [nvarchar](max) NULL,
	[LOAN_STATUS] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[LOAN_ADMIN_FEE] [numeric](18, 5) NULL,
	[LOAN_MATERAI_FEE] [numeric](18, 5) NULL,
	[LOAN_MATURITY_DATE] [int] NULL,
	[LOAN_IS_SALESMAN_KNOWN_CUST] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_LOAN] PRIMARY KEY CLUSTERED 
(
	[LOAN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[M_CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_CUSTOMER]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE] FOREIGN KEY([LOAN_ACC_BY])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE1] FOREIGN KEY([SALESMAN_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE1]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE2] FOREIGN KEY([SURVEYOR_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE2]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE3] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE3]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE4] FOREIGN KEY([TLS_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE4]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_PARTNER] FOREIGN KEY([PARTNER_ID])
REFERENCES [dbo].[M_PARTNER] ([PARTNER_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_PARTNER]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_ZONE] FOREIGN KEY([ZONE_ID])
REFERENCES [dbo].[M_ZONE] ([ZONE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_ZONE]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_REF_ADDRESS] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[REF_ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_REF_ADDRESS]
GO
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_REF_PERSON] FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[REF_PERSON] ([PERSON_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_REF_PERSON]
GO
