USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[T_COMMISSION]    Script Date: 10/19/2013 02:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COMMISSION](
	[COMMISSION_ID] [nvarchar](50) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[COMMISSION_TYPE] [nvarchar](50) NULL,
	[COMMISSION_LEVEL] [int] NULL,
	[COMMISSION_VALUE] [numeric](18, 5) NULL,
	[COMMISSION_START_DATE] [datetime] NULL,
	[COMMISSION_END_DATE] [datetime] NULL,
	[COMMISSION_STATUS] [nvarchar](50) NULL,
	[COMMISSION_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[REC_PERIOD_ID] [nvarchar](50) NULL,
	[COMMISSION_FACTOR] [numeric](18, 5) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[COMMISSION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_COMMISSION]  WITH CHECK ADD  CONSTRAINT [FK_T_COMMISSION_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_COMMISSION] CHECK CONSTRAINT [FK_T_COMMISSION_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[T_COMMISSION]  WITH CHECK ADD  CONSTRAINT [FK_T_COMMISSION_T_REC_PERIOD] FOREIGN KEY([REC_PERIOD_ID])
REFERENCES [dbo].[T_REC_PERIOD] ([REC_PERIOD_ID])
GO
ALTER TABLE [dbo].[T_COMMISSION] CHECK CONSTRAINT [FK_T_COMMISSION_T_REC_PERIOD]
GO
