USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[T_SETTLE]    Script Date: 10/19/2013 02:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SETTLE](
	[SETTLE_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[SETTLE_DATE] [datetime] NULL,
	[SETTLE_REMAIN_INSTALLMENT] [numeric](18, 5) NULL,
	[SETTLE_PENALTY] [numeric](18, 5) NULL,
	[SETTLE_REMAIN_MUST_PAID] [numeric](18, 5) NULL,
	[SETTLE_STATUS] [nvarchar](50) NULL,
	[SETTLE_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_SETTLE] PRIMARY KEY CLUSTERED 
(
	[SETTLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_SETTLE]  WITH CHECK ADD  CONSTRAINT [FK_T_SETTLE_T_LOAN] FOREIGN KEY([LOAN_ID])
REFERENCES [dbo].[T_LOAN] ([LOAN_ID])
GO
ALTER TABLE [dbo].[T_SETTLE] CHECK CONSTRAINT [FK_T_SETTLE_T_LOAN]
GO
