USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[T_INSTALLMENT]    Script Date: 10/19/2013 02:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_INSTALLMENT](
	[INSTALLMENT_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[INSTALLMENT_NO] [int] NULL,
	[INSTALLMENT_BASIC] [numeric](18, 5) NULL,
	[INSTALLMENT_INTEREST] [numeric](18, 5) NULL,
	[INSTALLMENT_OTHERS] [numeric](18, 5) NULL,
	[INSTALLMENT_PAYMENT_DATE] [datetime] NULL,
	[INSTALLMENT_MATURITY_DATE] [datetime] NULL,
	[INSTALLMENT_FINE] [numeric](18, 5) NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[INSTALLMENT_STATUS] [nvarchar](50) NULL,
	[INSTALLMENT_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[INSTALLMENT_PAID] [numeric](18, 5) NULL,
	[INSTALLMENT_RECEIPT_NO] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_INSTALLMENT] PRIMARY KEY CLUSTERED 
(
	[INSTALLMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_INSTALLMENT]  WITH CHECK ADD  CONSTRAINT [FK_T_INSTALLMENT_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_INSTALLMENT] CHECK CONSTRAINT [FK_T_INSTALLMENT_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[T_INSTALLMENT]  WITH CHECK ADD  CONSTRAINT [FK_T_INSTALLMENT_T_LOAN] FOREIGN KEY([LOAN_ID])
REFERENCES [dbo].[T_LOAN] ([LOAN_ID])
GO
ALTER TABLE [dbo].[T_INSTALLMENT] CHECK CONSTRAINT [FK_T_INSTALLMENT_T_LOAN]
GO
