USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[REF_PERSON]    Script Date: 10/19/2013 02:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_PERSON](
	[PERSON_ID] [nvarchar](50) NOT NULL,
	[PERSON_FIRST_NAME] [nvarchar](50) NULL,
	[PERSON_LAST_NAME] [nvarchar](50) NULL,
	[PERSON_NICK_NAME] [nvarchar](50) NULL,
	[PERSON_DOB] [datetime] NULL,
	[PERSON_POB] [nvarchar](50) NULL,
	[PERSON_GENDER] [nvarchar](50) NULL,
	[PERSON_PHONE] [nvarchar](50) NULL,
	[PERSON_MOBILE] [nvarchar](50) NULL,
	[PERSON_EMAIL] [nvarchar](50) NULL,
	[PERSON_RELIGION] [nvarchar](50) NULL,
	[PERSON_RACE] [nvarchar](50) NULL,
	[PERSON_ID_CARD_TYPE] [nvarchar](50) NULL,
	[PERSON_ID_CARD_NO] [nvarchar](50) NULL,
	[PERSON_LAST_EDU] [nvarchar](50) NULL,
	[PERSON_AGE] [int] NULL,
	[PERSON_OCCUPATION] [nvarchar](50) NULL,
	[PERSON_OCCUPATION_SECTOR] [nvarchar](50) NULL,
	[PERSON_OCCUPATION_POSITION] [nvarchar](50) NULL,
	[PERSON_INCOME] [numeric](18, 0) NULL,
	[PERSON_MARRIED_STATUS] [nvarchar](50) NULL,
	[PERSON_HOBBY] [nvarchar](50) NULL,
	[PERSON_NATIONALITY] [nvarchar](50) NULL,
	[PERSON_BLOOD_TYPE] [nvarchar](50) NULL,
	[PERSON_NO_OF_CHILDREN] [int] NULL,
	[PERSON_COUPLE_NAME] [nvarchar](50) NULL,
	[PERSON_COUPLE_OCCUPATION] [nvarchar](50) NULL,
	[PERSON_COUPLE_INCOME] [numeric](18, 0) NULL,
	[PERSON_STAY_SINCE] [datetime] NULL,
	[PERSON_GUARANTOR_NAME] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_OCCUPATION] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_PHONE] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_HOUSE_OWNER_STATUS] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_STAY_SINCE] [datetime] NULL,
	[PERSON_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[PERSON_GUARANTOR_RELATION] [nvarchar](50) NULL,
 CONSTRAINT [PK_REF_PERSON] PRIMARY KEY CLUSTERED 
(
	[PERSON_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
