USE [DB_SIMK_WMTI]
GO
/****** Object:  Table [dbo].[M_ZONE]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_ZONE](
	[ZONE_ID] [nvarchar](50) NOT NULL,
	[ZONE_NAME] [nvarchar](50) NULL,
	[ZONE_CITY] [nvarchar](50) NULL,
	[ZONE_STATUS] [nvarchar](50) NULL,
	[ZONE_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [nchar](10) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_ZONE] PRIMARY KEY CLUSTERED 
(
	[ZONE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_DEPARTMENT]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_DEPARTMENT](
	[DEPARTMENT_ID] [nvarchar](50) NOT NULL,
	[DEPARTMENT_NAME] [nvarchar](50) NOT NULL,
	[DEPARTMENT_STATUS] [nvarchar](50) NULL,
	[DEPARTMENT_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [varchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REF_PERSON]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_PERSON](
	[PERSON_ID] [nvarchar](50) NOT NULL,
	[PERSON_FIRST_NAME] [nvarchar](50) NULL,
	[PERSON_LAST_NAME] [nvarchar](50) NULL,
	[PERSON_NICK_NAME] [nvarchar](50) NULL,
	[PERSON_DOB] [datetime] NULL,
	[PERSON_POB] [nvarchar](50) NULL,
	[PERSON_GENDER] [nvarchar](50) NULL,
	[PERSON_PHONE] [nvarchar](50) NULL,
	[PERSON_MOBILE] [nvarchar](50) NULL,
	[PERSON_EMAIL] [nvarchar](50) NULL,
	[PERSON_RELIGION] [nvarchar](50) NULL,
	[PERSON_RACE] [nvarchar](50) NULL,
	[PERSON_ID_CARD_TYPE] [nvarchar](50) NULL,
	[PERSON_ID_CARD_NO] [nvarchar](50) NULL,
	[PERSON_LAST_EDU] [nvarchar](50) NULL,
	[PERSON_AGE] [int] NULL,
	[PERSON_OCCUPATION] [nvarchar](50) NULL,
	[PERSON_OCCUPATION_SECTOR] [nvarchar](50) NULL,
	[PERSON_OCCUPATION_POSITION] [nvarchar](50) NULL,
	[PERSON_INCOME] [numeric](18, 0) NULL,
	[PERSON_MARRIED_STATUS] [nvarchar](50) NULL,
	[PERSON_HOBBY] [nvarchar](50) NULL,
	[PERSON_NATIONALITY] [nvarchar](50) NULL,
	[PERSON_BLOOD_TYPE] [nvarchar](50) NULL,
	[PERSON_NO_OF_CHILDREN] [int] NULL,
	[PERSON_COUPLE_NAME] [nvarchar](50) NULL,
	[PERSON_COUPLE_OCCUPATION] [nvarchar](50) NULL,
	[PERSON_COUPLE_INCOME] [numeric](18, 0) NULL,
	[PERSON_STAY_SINCE] [datetime] NULL,
	[PERSON_GUARANTOR_NAME] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_OCCUPATION] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_PHONE] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_HOUSE_OWNER_STATUS] [nvarchar](50) NULL,
	[PERSON_GUARANTOR_STAY_SINCE] [datetime] NULL,
	[PERSON_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [nchar](10) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_REF_PERSON] PRIMARY KEY CLUSTERED 
(
	[PERSON_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_LOAN_UNIT]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LOAN_UNIT](
	[LOAN_UNIT_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[UNIT_NAME] [nvarchar](50) NULL,
	[UNIT_PRICE] [numeric](18, 5) NULL,
	[UNIT_TYPE] [nvarchar](50) NULL,
	[UNIT_DESC] [nvarchar](50) NULL,
	[UNIT_STATUS] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_LOAN_UNIT] PRIMARY KEY CLUSTERED 
(
	[LOAN_UNIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_COMMISSION]    Script Date: 06/14/2011 17:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_COMMISSION](
	[COMMISSION_ID] [nvarchar](50) NOT NULL,
	[COMMISSION_TYPE] [nvarchar](50) NULL,
	[COMMISSION_LEVEL] [int] NULL,
	[COMMISSION_LOW_TARGET] [numeric](18, 5) NULL,
	[COMMISSION_HIGH_TARGET] [numeric](18, 5) NULL,
	[COMMISSION_START_DATE] [datetime] NULL,
	[COMMISSION_END_DATE] [datetime] NULL,
	[COMMISSION_VALUE] [numeric](18, 5) NULL,
	[CUSTOMER_STATUS] [nvarchar](50) NULL,
	[CUSTOMER_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_COMMISSION] PRIMARY KEY CLUSTERED 
(
	[COMMISSION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_ADDRESS]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_ADDRESS](
	[ADDRESS_ID] [nvarchar](50) NOT NULL,
	[ADDRESS_LINE1] [nvarchar](300) NULL,
	[ADDRESS_LINE2] [nvarchar](50) NULL,
	[ADDRESS_LINE3] [nvarchar](50) NULL,
	[ADDRESS_RT] [nvarchar](50) NULL,
	[ADDRESS_RW] [nvarchar](50) NULL,
	[ADDRESS_POST_CODE] [nvarchar](50) NULL,
	[ADDRESS_CITY] [nvarchar](50) NULL,
	[ADDRESS_STATUS_OWNER] [nvarchar](50) NULL,
	[ADDRESS_LONG_STAY] [nvarchar](50) NULL,
	[ADDRESS_OFFICE] [nvarchar](300) NULL,
	[ADDRESS_OFFICE_PHONE] [nvarchar](50) NULL,
	[ADDRESS_STATUS] [nvarchar](50) NULL,
	[ADDRESS_DESC] [nvarchar](300) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_COMMISSION]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COMMISSION](
	[COMMISSION_ID] [nvarchar](50) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[COMMISSION_TYPE] [nvarchar](50) NULL,
	[COMMISSION_LEVEL] [int] NULL,
	[COMMISSION_VALUE] [numeric](18, 5) NULL,
	[COMMISSION_START_DATE] [datetime] NULL,
	[COMMISSION_END_DATE] [datetime] NULL,
	[COMMISSION_STATUS] [nvarchar](50) NULL,
	[COMMISSION_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[COMMISSION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_REFERENCE]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_REFERENCE](
	[REFERENCE_ID] [nvarchar](50) NOT NULL,
	[REFERENCE_TYPE] [nvarchar](50) NOT NULL,
	[REFERENCE_VALUE] [nvarchar](50) NULL,
	[REFERENCE_STATUS] [nvarchar](50) NULL,
	[REFERENCE_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_REFERENCE] PRIMARY KEY CLUSTERED 
(
	[REFERENCE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_EMPLOYEE]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_EMPLOYEE](
	[EMPLOYEE_ID] [nvarchar](50) NOT NULL,
	[PERSON_ID] [nvarchar](50) NULL,
	[DEPARTMENT_ID] [nvarchar](50) NULL,
	[EMPLOYEE_STATUS] [nvarchar](50) NULL,
	[EMPLOYEE_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_PARTNER]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PARTNER](
	[PARTNER_ID] [nvarchar](50) NOT NULL,
	[ADDRESS_ID] [nvarchar](50) NULL,
	[PARTNER_NAME] [nvarchar](50) NULL,
	[PARTNER_DESC] [nvarchar](50) NULL,
	[PARTNER_STATUS] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_PARTNER] PRIMARY KEY CLUSTERED 
(
	[PARTNER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_CUSTOMER]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_CUSTOMER](
	[CUSTOMER_ID] [nvarchar](50) NOT NULL,
	[CUSTOMER_CODE] [nvarchar](50) NULL,
	[PERSON_ID] [nvarchar](50) NULL,
	[ADDRESS_ID] [nvarchar](50) NULL,
	[CUSTOMER_STATUS] [nvarchar](50) NULL,
	[CUSTOMER_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_LOAN]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LOAN](
	[LOAN_ID] [nvarchar](50) NOT NULL,
	[ZONE_ID] [nvarchar](50) NULL,
	[PARTNER_ID] [nvarchar](50) NULL,
	[CUSTOMER_ID] [nvarchar](50) NULL,
	[PERSON_ID] [nvarchar](50) NULL,
	[ADDRESS_ID] [nvarchar](50) NULL,
	[TLS_ID] [nvarchar](50) NULL,
	[SALESMAN_ID] [nvarchar](50) NULL,
	[SURVEYOR_ID] [nvarchar](50) NULL,
	[COLLECTOR_ID] [nvarchar](50) NULL,
	[LOAN_NO] [nvarchar](50) NULL,
	[LOAN_CODE] [nvarchar](50) NULL,
	[LOAN_SUBMISSION_DATE] [datetime] NULL,
	[LOAN_SURVEY_DATE] [datetime] NULL,
	[LOAN_UNIT_PRICE_TOTAL] [numeric](18, 5) NULL,
	[LOAN_DOWN_PAYMENT] [numeric](18, 5) NULL,
	[LOAN_BASIC_PRICE] [numeric](18, 5) NULL,
	[LOAN_CREDIT_PRICE] [numeric](18, 5) NULL,
	[LOAN_FACTOR_MULTIPLE] [numeric](18, 5) NULL,
	[LOAN_FACTOR_ADD] [numeric](18, 5) NULL,
	[LOAN_INTEREST] [numeric](18, 5) NULL,
	[LOAN_TENOR] [int] NULL,
	[LOAN_BASIC_INSTALLMENT] [numeric](18, 5) NULL,
	[LOAN_INTEREST_INSTALLMENT] [numeric](18, 5) NULL,
	[LOAN_OTHER_INSTALLMENT] [numeric](18, 5) NULL,
	[LOAN_ACC_BY] [nvarchar](50) NULL,
	[LOAN_ACC_DATE] [datetime] NULL,
	[LOAN_DESC] [nvarchar](50) NULL,
	[LOAN_STATUS] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[LOAN_ADMIN_FEE] [numeric](18, 5) NULL,
	[LOAN_MATERAI_FEE] [numeric](18, 5) NULL,
	[LOAN_MATURITY_DATE] [int] NULL,
	[LOAN_IS_SALESMAN_KNOWN_CUST] [bit] NULL,
 CONSTRAINT [PK_T_LOAN] PRIMARY KEY CLUSTERED 
(
	[LOAN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_ZONE_EMPLOYEE]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ZONE_EMPLOYEE](
	[ZONE_EMPLOYEE_ID] [nvarchar](50) NOT NULL,
	[ZONE_ID] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[ZONE_EMPLOYEE_STATUS] [nvarchar](50) NULL,
	[ZONE_EMPLOYEE_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [varchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_ZONE_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ZONE_EMPLOYEE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_INSTALLMENT]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_INSTALLMENT](
	[INSTALLMENT_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[INSTALLMENT_NO] [int] NULL,
	[INSTALLMENT_BASIC] [numeric](18, 5) NULL,
	[INSTALLMENT_INTEREST] [numeric](18, 5) NULL,
	[INSTALLMENT_OTHERS] [numeric](18, 5) NULL,
	[INSTALLMENT_PAYMENT_DATE] [datetime] NULL,
	[INSTALLMENT_MATURITY_DATE] [datetime] NULL,
	[INSTALLMENT_FINE] [numeric](18, 5) NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[INSTALLMENT_STATUS] [nvarchar](50) NULL,
	[INSTALLMENT_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_INSTALLMENT] PRIMARY KEY CLUSTERED 
(
	[INSTALLMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_COMMISSION_DET]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_COMMISSION_DET](
	[COMMISSION_DET_ID] [nvarchar](50) NOT NULL,
	[COMMISSION_ID] [nvarchar](50) NULL,
	[DETAIL_TYPE] [nvarchar](50) NULL,
	[DETAIL_VALUE] [numeric](18, 5) NULL,
	[DETAIL_STATUS] [nvarchar](50) NULL,
	[DETAIL_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_COMMISSION_DET] PRIMARY KEY CLUSTERED 
(
	[COMMISSION_DET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_LOAN_SURVEY]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LOAN_SURVEY](
	[LOAN_SURVEY_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[SURVEY_DATE] [datetime] NULL,
	[SURVEY_NEIGHBOR] [nvarchar](50) NULL,
	[SURVEY_NEIGHBOR_CHARACTER] [nvarchar](50) NULL,
	[SURVEY_NEIGHBOR_ASSET] [nvarchar](300) NULL,
	[SURVEY_NEIGHBOR_CONCLUSION] [nvarchar](50) NULL,
	[SURVEY_HOUSE_TYPE] [nvarchar](50) NULL,
	[SURVEY_UNIT_DELIVER_DATE] [datetime] NULL,
	[SURVEY_UNIT_DELIVER_ADDRESS] [nvarchar](200) NULL,
	[SURVEY_DESC] [nvarchar](50) NULL,
	[SURVEY_STATUS] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_LOAN_SURVEY] PRIMARY KEY CLUSTERED 
(
	[LOAN_SURVEY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SETTLE]    Script Date: 06/14/2011 17:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SETTLE](
	[SETTLE_ID] [nvarchar](50) NOT NULL,
	[LOAN_ID] [nvarchar](50) NULL,
	[SETTLE_DATE] [datetime] NULL,
	[SETTLE_REMAIN_INSTALLMENT] [numeric](18, 5) NULL,
	[SETTLE_PENALTY] [numeric](18, 5) NULL,
	[SETTLE_REMAIN_MUST_PAID] [numeric](18, 5) NULL,
	[SETTLE_STATUS] [nvarchar](50) NULL,
	[SETTLE_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_SETTLE] PRIMARY KEY CLUSTERED 
(
	[SETTLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_T_COMMISSION_DET_T_COMMISSION]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_COMMISSION_DET]  WITH CHECK ADD  CONSTRAINT [FK_T_COMMISSION_DET_T_COMMISSION] FOREIGN KEY([COMMISSION_ID])
REFERENCES [dbo].[M_COMMISSION] ([COMMISSION_ID])
GO
ALTER TABLE [dbo].[M_COMMISSION_DET] CHECK CONSTRAINT [FK_T_COMMISSION_DET_T_COMMISSION]
GO
/****** Object:  ForeignKey [FK_M_CUSTOMER_REF_ADDRESS]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_M_CUSTOMER_REF_ADDRESS] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[REF_ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [dbo].[M_CUSTOMER] CHECK CONSTRAINT [FK_M_CUSTOMER_REF_ADDRESS]
GO
/****** Object:  ForeignKey [FK_M_CUSTOMER_REF_PERSON]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_M_CUSTOMER_REF_PERSON] FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[REF_PERSON] ([PERSON_ID])
GO
ALTER TABLE [dbo].[M_CUSTOMER] CHECK CONSTRAINT [FK_M_CUSTOMER_REF_PERSON]
GO
/****** Object:  ForeignKey [FK_M_EMPLOYEE_M_DEPARTMENT]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_M_EMPLOYEE_M_DEPARTMENT] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[M_DEPARTMENT] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[M_EMPLOYEE] CHECK CONSTRAINT [FK_M_EMPLOYEE_M_DEPARTMENT]
GO
/****** Object:  ForeignKey [FK_M_EMPLOYEE_REF_PERSON]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_M_EMPLOYEE_REF_PERSON] FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[REF_PERSON] ([PERSON_ID])
GO
ALTER TABLE [dbo].[M_EMPLOYEE] CHECK CONSTRAINT [FK_M_EMPLOYEE_REF_PERSON]
GO
/****** Object:  ForeignKey [FK_M_PARTNER_REF_ADDRESS]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_PARTNER]  WITH CHECK ADD  CONSTRAINT [FK_M_PARTNER_REF_ADDRESS] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[REF_ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [dbo].[M_PARTNER] CHECK CONSTRAINT [FK_M_PARTNER_REF_ADDRESS]
GO
/****** Object:  ForeignKey [FK_M_ZONE_EMPLOYEE_M_EMPLOYEE]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_ZONE_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_M_ZONE_EMPLOYEE_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[M_ZONE_EMPLOYEE] CHECK CONSTRAINT [FK_M_ZONE_EMPLOYEE_M_EMPLOYEE]
GO
/****** Object:  ForeignKey [FK_M_ZONE_EMPLOYEE_M_ZONE]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[M_ZONE_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_M_ZONE_EMPLOYEE_M_ZONE] FOREIGN KEY([ZONE_ID])
REFERENCES [dbo].[M_ZONE] ([ZONE_ID])
GO
ALTER TABLE [dbo].[M_ZONE_EMPLOYEE] CHECK CONSTRAINT [FK_M_ZONE_EMPLOYEE_M_ZONE]
GO
/****** Object:  ForeignKey [FK_T_INSTALLMENT_M_EMPLOYEE]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_INSTALLMENT]  WITH CHECK ADD  CONSTRAINT [FK_T_INSTALLMENT_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_INSTALLMENT] CHECK CONSTRAINT [FK_T_INSTALLMENT_M_EMPLOYEE]
GO
/****** Object:  ForeignKey [FK_T_INSTALLMENT_T_LOAN]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_INSTALLMENT]  WITH CHECK ADD  CONSTRAINT [FK_T_INSTALLMENT_T_LOAN] FOREIGN KEY([LOAN_ID])
REFERENCES [dbo].[T_LOAN] ([LOAN_ID])
GO
ALTER TABLE [dbo].[T_INSTALLMENT] CHECK CONSTRAINT [FK_T_INSTALLMENT_T_LOAN]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_CUSTOMER]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[M_CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_EMPLOYEE]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE] FOREIGN KEY([LOAN_ACC_BY])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_EMPLOYEE1]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE1] FOREIGN KEY([SALESMAN_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE1]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_EMPLOYEE2]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE2] FOREIGN KEY([SURVEYOR_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE2]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_EMPLOYEE3]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE3] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE3]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_EMPLOYEE4]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_EMPLOYEE4] FOREIGN KEY([TLS_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_EMPLOYEE4]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_PARTNER]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_PARTNER] FOREIGN KEY([PARTNER_ID])
REFERENCES [dbo].[M_PARTNER] ([PARTNER_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_PARTNER]
GO
/****** Object:  ForeignKey [FK_T_LOAN_M_ZONE]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_M_ZONE] FOREIGN KEY([ZONE_ID])
REFERENCES [dbo].[M_ZONE] ([ZONE_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_M_ZONE]
GO
/****** Object:  ForeignKey [FK_T_LOAN_REF_ADDRESS]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_REF_ADDRESS] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[REF_ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_REF_ADDRESS]
GO
/****** Object:  ForeignKey [FK_T_LOAN_REF_PERSON]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_REF_PERSON] FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[REF_PERSON] ([PERSON_ID])
GO
ALTER TABLE [dbo].[T_LOAN] CHECK CONSTRAINT [FK_T_LOAN_REF_PERSON]
GO
/****** Object:  ForeignKey [FK_T_LOAN_SURVEY_T_LOAN]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_LOAN_SURVEY]  WITH CHECK ADD  CONSTRAINT [FK_T_LOAN_SURVEY_T_LOAN] FOREIGN KEY([LOAN_ID])
REFERENCES [dbo].[T_LOAN] ([LOAN_ID])
GO
ALTER TABLE [dbo].[T_LOAN_SURVEY] CHECK CONSTRAINT [FK_T_LOAN_SURVEY_T_LOAN]
GO
/****** Object:  ForeignKey [FK_T_SETTLE_T_LOAN]    Script Date: 06/14/2011 17:56:06 ******/
ALTER TABLE [dbo].[T_SETTLE]  WITH CHECK ADD  CONSTRAINT [FK_T_SETTLE_T_LOAN] FOREIGN KEY([LOAN_ID])
REFERENCES [dbo].[T_LOAN] ([LOAN_ID])
GO
ALTER TABLE [dbo].[T_SETTLE] CHECK CONSTRAINT [FK_T_SETTLE_T_LOAN]
GO
